* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  color: rgb(200,200,200);
  height: fit-content;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 2px; /* Grosor del scrollbar para navegadores webkit */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo del scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb del scrollbar */
  border: transparent; /* Borde del thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #747474; /* Color del thumb al pasar el mouse */
}
body::-webkit-scrollbar-thumb:active {
  background-color: #575757; /* Color del thumb al pasar el mouse */
}
body {
  overflow: hidden;
  background-color: rgb(3, 3, 3);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Example of how to fade our content in */

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
@media (max-width:450px) {
  footer{
    margin-bottom: 50px;
  }
  footer{
    padding-inline: 70px;
  }
  .main-container h1{
    margin-top: 160px;
  }
  footer span{
    text-align: center;
  }
}