.page-container{
  padding-bottom: 50px;
  color: rgb(200,200,200);
  width: 100%;
}
.change-section{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-inline: 20px;
    flex-wrap: wrap;
}
.turnos-section{
  display: flex;
  flex-direction: column;
}
.turnos-table-container{
  overflow-x: auto; /* Esto muestra el scrollbar solo cuando es necesario */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
  border-radius: 3px;
  border-left: 1px solid #50505060;
  border-bottom: 1px solid #50505060;
}
.turnos-table-container::-webkit-scrollbar {
  display: none;
}

.lista{
  border-radius: 3px;
  max-height: 479px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.lista::-webkit-scrollbar {
  width: 1px; /* Grosor del scrollbar para navegadores webkit */
}
.lista::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo del scrollbar */
}
.lista::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb del scrollbar */
  border: transparent; /* Borde del thumb */
}
.lista::-webkit-scrollbar-thumb:hover {
  background-color: #747474; /* Color del thumb al pasar el mouse */
}
.lista::-webkit-scrollbar-thumb:active {
  background-color: #575757; /* Color del thumb al pasar el mouse */
}



.turnos-table{
  min-width: 270px;
  border-radius: 3px;
  min-height: 160px;
}
.section-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}


.analitics{
  display: grid;
  grid-template-columns: auto auto; /* Dos columnas para ambos elementos */
}
.balance-container{
  width: fit-content;
  height: 25px;
  justify-self: flex-end;
  margin-right: 2px;
  margin-bottom: 5px;
}
.total-container{
  margin-left: 2px;
  margin-bottom: 5px;
  width: fit-content;
}
.data-container{
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid #50505060;
  padding-left: 5px;
  
}
li{
  list-style: none;
}
.data{
  list-style: none;
  height: fit-content;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(170,170,170);
}
.config-section{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.configs-container{
  min-width: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 20px;
  gap: 20px;
  margin-bottom: 40px;
}
.config{
  border-radius: 3px;
  cursor: pointer;
  width: fit-content;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
  background-color: #030303;
}
.content-container{
  width: fit-content;
}
.service{
  border: none;
  background-color: transparent;
  color: rgb(200,200,200);
  padding: 10px 0px;
  transition: .1s all;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #50505000;
  cursor: pointer;
  transition: all .2s;
}
.service:hover{
  border: 1px solid #505050;
}

@media (max-width:670px) {
  .turnos-section{
    width: 90vw;
  }
  .section-container{
    width: 100vw;
  }
  .analitics{
    font-size: 13px;
  }
}
@media (max-width:520px){
  .data{
    font-size: 12px;
  }
}
@media (max-width:420px){
  .data{
    font-size: 10px;
    font-weight: 600;
  }
}
@media (max-width:400px){
  .inp-container1{
    height: 190px;
  }
}